body{
    --grey: #f1f1f1;
    --red: #e61c1d;
    --black: #292929;
    font-family: Raleway;
    font-size: 2vh;
    font-weight: 600;
    color: var(--black);
}

h3{
    margin-bottom: 10vh;
    font-weight: 900;
    font-size: 3vh;
    color: var(--black);
}

.bgG{
    background-color: var(--grey);
    color: var(--black);
}

.bgN{
    background-color: var(--black);
    color: white;
}
.bgN > h3 h4{
    color: white;
}


.mg{
    margin-bottom: 3vh;
<<<<<<< HEAD
}

a{
    text-decoration: none;
    color: var(--black)
}

a:hover{
    background-color: var(--black);
    color: white;
    text-decoration: none;
}


.scale-anm {
  transform: scale(1);
}

.cat-1, .cat-2, .cat-3{
    position: relative;
}


.all .redsquare {
    position: absolute;
    top: 5%;
    left: 7%;
    width: 86%;
    height: 86%;
    background-color: var(--red);
    opacity: 0;
    transition: all 0.5s ease;
}


.all:hover .redsquare{

    opacity: 0.8;
}


.textport {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 7%;
    left: 7%;
    width: 86%;
    height: 86%;
    border: 4px solid rgba(365, 365, 365 ,0.8);
    text-align: center;
    color: white;
    padding-top: 3vh;
}

.hide{
    opacity: 0;
}

img{
    width: 100%;
    height: auto;
}


#lightbox .modal-content {
    display: inline-block;
    text-align: center;  
    width: 100%;
    
}
#lightbox .modal-body {
    width: 100%;
}

#lightbox .modal-dialog {
    width: 90%;
    margin-top: 8vh;
}

#lightbox .close {
    opacity: 1;
    width: 2.5vh;
    height: auto;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: -55px;
    z-index:1032;
}

.close {
    font-size: 50px;
    font-weight: bolder;
}



    
    
=======

}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: white;
    color: black;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    
}

a{
    color: black;
    font-size: 20px;
    margin-top : 70px;
    
    
}

li{
    margin-right: 30px;
   
}
    

.active{
    border-bottom: 3px solid red; 
    padding-left: 20px;
    padding-right: 20px;
}

#logo{
    margin-top: 30px;
}

>>>>>>> d07502640222fe7a33954e3085e67ca007706db0
