@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../ico/glyphicons-halflings-regular.eot');
    src: url('../ico/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../ico/glyphicons-halflings-regular.woff') format('woff'), url('../ico/glyphicons-halflings-regular.ttf') format('truetype'), url('../ico/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


body{
    --grey: #f1f1f1;
    --red: #e61c1d;
    --black: #292929;
    font-family: Raleway;
    font-size: 2vh;
    font-weight: 600;
    color: var(--black);
}

h3{
    margin-bottom: 10vh;
    font-weight: 900;
    font-size: 4vh;
    color: var(--black);
    cursor: pointer;
}

.bgG{
    background-color: var(--grey);
    color: var(--black);
}

.bgN{
    background-color: var(--black);
    color: white;
}

.bgN > h3 h4{
    color: white;
    font-size: 2vh;
}

.mg{
    margin-bottom: 3vh;
}

a:hover {
    color: red;,
}


/******************CECILE***********************************/

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: white;
    color: black;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;


}
.imgpresta{
    width: 4vh;
    padding-bottom: 10px;
    margin-right: 20px;
}


.imgpresta{
    width: 4vh;
    padding-bottom: 10px;
    margin-right: 20px;
}

a{
    color: black;
    font-size: 20px;   
}
.nav{
    margin-top: 70px;
}
.menu{
    margin-bottom: 50px;
}
.car{
    margin-bottom: 50px;
}

nav li{
    margin-right: 30px;
}

li{
    margin:0;
}

li:hover {
    cursor: pointer;
}

.activeMenu{
    border-bottom: 3px solid red; 
    padding-left: 20px;
    padding-right: 20px;
}

#logo{
    margin-top: 30px;
}

.full-width {
    width: 100%;
}

header .carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.pSlid{
    font-size: 3vh;
    font-weight: 200;
    margin-bottom: 300px;

}

.slid{
    font-size: 5vh;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;

}

.projet{
    text-transform: uppercase;
    color: black;
    background-color: white;
    font-size: 2vh;
    margin: auto;
    width: 150px;
    border: red 1px solid;
}

header .carousel-indicators li{
    background-color: white;
    border-color:white;
}

header .carousel-indicators .active{
    background-color: red;
    border-color:red;
}

header .item .img{
    filter: grayscale(2);
    -webkit-filter: grayscale(2);
    -moz-filter: grayscale(2);
    -o-filter: grayscale(2);
    -ms-filter: grayscale(2);   
}

header a:hover{
    text-decoration: none;
    color: var(--black);
    background-color: transparent;

}

header .nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
}
.h3cec{
    margin-top: 100px;
    color: black;
}
.information_menu {
    text-transform: uppercase;
    font-size: 15px;
}
.nopaddingleft {
    padding-left: 0;
}
.nopaddingright {
    padding-right: 0;
}
.overflownone {
    overflow: hidden!important;
}
.information {
    background: white;
    position: relative;
    height: 400px;
}
.information h3 {
    font-size: 34px;
    font-size: 3.4rem;

    font-weight: 500;
    color: #FFF;
    padding: 0 15px;
}
.information .information_menu {
    margin-top: 100px;

}
.information .information_menu li {
    list-style: none;
    position: relative;
}
.information .information_menu li.active {
    background: gray;
}
.information .information_menu li.active:before {
    content: "";
    width: 0;
    height: 0;

    position: absolute;
    right: -22px;
    z-index: 1000;
    top: 0;
}
.information .information_menu li a {
    color: black;
    display: block;
    padding: 16px 20px;
    font-size: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 20px;
}

.information .btn-emergency span {
    padding: 15px;
    display: block;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, .15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.75, rgba(255, 255, 255, .15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear, 135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent;
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}
.mobile-menu-bg {
    background: #2a3d46;
}
.information_menu_mobile {
    margin: 0px;
    padding: 0;
}
.information_menu_mobile li {
    padding: 0;
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;
}
.information_menu_mobile li a {
    display: block;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
}
.information_menu_mobile li:hover a {
    background-color: #0383c5;
    text-decoration: none;
}

.facecile {
    color: black;
    padding-right: 1vh;
}

header .slideshow {
    overflow: hidden;
}
header .slideshow .overlay-item  {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 360px;
    background: gray;
    height: 400px;
    padding: 10px 30px;
    display: none;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
header .slideshow .overlay-item.active {
    display: block;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
header .slideshow .overlay-item.inactive {
    display: block;
    -webkit-animation: closedoor 0.75s ease 0s alternate;
    transform-style: preserve-3d;
    opacity:0;
}
header .slideshow .overlay-item .quickmenu  {
    padding: 0;
}
header .slideshow .overlay-item .quickmenu li {
    list-style: none;
}
header .slideshow .overlay-item .quickmenu li a {
    color: black;
    display: block;
    padding: 8px 20px;
    font-size: 15px;
    font-size: 1.5rem;
    text-decoration: none;
}
#slider {
    padding: 0px;
    margin: 0px
}
#slider li {
    padding: 0px;
    list-style: none;
    position: absolute;
}
#carousel-example-generic {
    height: 400px
}
header .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
header .carousel-fade .carousel-inner .item,
header .carousel-fade .carousel-inner .active.left,
header .carousel-fade .carousel-inner .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}
header .carousel-fade .carousel-inner .active,
header .carousel-fade .carousel-inner .next.left,
header .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}
header .carousel-fade .carousel-inner .next,
header .carousel-fade .carousel-inner .prev,
header .carousel-fade .carousel-inner .active.left,
header .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
header .carousel-fade .carousel-control {
    z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
header .item:nth-child(1) {
    background: #74C390;
}
header .item:nth-child(2) {
    background: #51BCE8;
}
header .item:nth-child(3) {
    background: #E46653;
}
@-webkit-keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}
@-webkit-keyframes in {
    from {
        -webkit-transform: scale(1.3);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes out {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.3);
    }
}
@-webkit-keyframes opendoor {
    from {
        -webkit-transform: perspective(1000px) rotateY(90deg);
        -webkit-transform-origin: 0% 50%;
    }
    to {
        -webkit-transform: perspective(1000px) rotateY(0deg);
        -webkit-transform-origin: 0% 50%;
    }
}
@-webkit-keyframes closedoor {
    from {
        opacity:1;
        -webkit-transform-origin: 0% 50%;
    }
    to {
        opacity:0;
        -webkit-transform-origin: 0% 50%;
    }
}


/********************CCS CLAIRE*******************/



a {
    text-decoration: none;
    color: var(--black)
}

#portfolio li>p:hover, #portfolio li>p:active{ 
    background-color: var(--black);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.scale-anm {
    transform: scale(1);
}

.cat-1, .cat-2, .cat-3{
    position: relative;
}

.all .redsquare {
    position: absolute;
    top: 5%;
    left: 7%;
    width: 86%;
    height: 86%;
    background-color: var(--red);
    opacity: 0;
    transition: all 0.5s ease;
}


.all:hover .redsquare{
    opacity: 0.8;
}


.textport {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5%;
    left: 7%;
    width: 86%;
    height: 86%;
    border: 4px solid rgba(365, 365, 365 ,0.8);
    text-align: center;
    color: white;
    padding-top: 3vh;
}

.hide{
    opacity: 0;
}

img {
    width: 100%;
    height: auto;
}


#lightbox .modal-content {
    display: inline-block;
    text-align: center;  
    width: 100%;
}

#lightbox .modal-body {
    width: 100%;
}

#lightbox .modal-dialog {
    overflow: hidden;
    width: 80%;
    margin-top: 8vh;
}

#lightbox .close {
    opacity: 1;
    width: 2.5vh;
    height: auto;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: -55px;
    z-index:1032;
}


.close {
    font-size: 50px;
    font-weight: bolder;
}

#myCarousel > a.carousel-control{
    background-image: none;
}


/***************** CSS MELYSA *************************/


#map {
    width: 100%;
    height: 400px;
    margin:0;
    padding:0;
}


.rapid {
    font-size: 2vh;
    font-weight: 800;
    margin-top: 1.5vh;
}

.delivery {
    font-size: 1.5vh;
    margin-bottom : 5vh;
}

.glyphicon {
    font-size: 3.5vh;
    color: white;
    border-radius: 100%;
    padding: 1.5vh;
}

h4 {
    color: white;
    font-size: 3vh;
    margin-top: 6vh;
}

h5 {
    color: white;
    font-size: 2vh;
    margin-top: 5vh;
    padding-left: 1vh;  
}

.formulaire {
    margin-top: 10vh;
}

.adress {
    color: white;
    font-size: 1.5vh;
    padding-left: 1vh;
    font-weight: 100;
}

.adress-1 {
    border-left: solid 2px white;
}

.infos {

}

.selectpicker {
    border: dotted 1px var(--black);
    margin-top: 5vh;
    font-size: 1.8vh;
    color: var(--black);
}

#categorie{
    margin-top: 0;
    margin-bottom: 2vh;
}

.selectpicker-1 {
    border: dotted 1px var(--black);
    margin:0;
    padding:5px;
    font-size: 1.5vh;
    color: var(--black);
    width: 50vh;
    height: 3vh;
}

.selectpicker-2 {
    border: dotted 1px var(--black);
    margin:0;
    padding:5px;
    font-size: 1.5vh;
    color: var(--black);
    width: 50vh;
    height: 20vh;
}

.name {
    margin-top: 2vh;
    font-size: 1.8vh;
    font-family: Raleway;
    font-weight: 900;
}

.submit {
    background-color: var(--black);
    border: solid 1px var(--black);
    border-radius: 0%;
    color: var(--grey);
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.submit:hover {
    color: white;
}

.bgN2 {
    background-color: var(--black);
    padding-bottom: 20vh;
}

.footer {
    background-color: #222222;
}

.fa-facebook {
    color: #222222;
    background-color: white;
    border: 1px solid white;
    border-radius: 100%;
    padding: 1.2vh 1.5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.text-footer {
    color: white;
    font-size: 1vh;
    font-weight: 100;
}


article{
    padding-top: 10vh;
}
